/Firmware/Code/Smart Garden/Smart Garden/Debug
/Firmware/Code/.vs
/Firmware/Code/Smart Garden/Smart Garden/Smart Garden.componentinfo.xml
/Firmware/Code/Smart Garden/Smart Garden/Smart Garden.cppproj
/Firmware/Code/Smart Garden/ArduinoCore